$grey-black: #333B40;
$grey-dark: #67717F;
$grey: #B6BFCC;
$grey-light: #D9DEE5;
$grey-lighter: #ECEFF2;
$white: #FFF;
$danger-red-shade: #B0524A;
$danger-red: #FE5F55;
$warning-orange-shade: #997A3B;
$warning-orange: #FFBA37;
$success-shade: #318066;
$success-green: #39C48E;
$blue-shade: #1A5C92;
$blue-tone: #007EE8;
$blue: #229DFF;
$blue-tint: #E5F3FF;
